.policiesDiv
{
    width: 50%;
    padding: 20px;
    font-size: 13px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}
#Titles
{
    display: flex;
    justify-content: center; 
    gap: 30px;
    color: #888888;
    margin-bottom: 20px;
}
.policiesTitle
{
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    color: gray;
    transition: color 0.3s;
}


.policiesTitle:hover
{
    color: #8db600;
    text-decoration: underline;
}

.active
{
    color: #8db600 ;
    text-decoration: underline;
}