/*All element*/
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background-color:#d4ff48af;
	width: 100%;
    height: 100%;
	overflow: hidden;
}

.main {
	width: 100vw;
	height: 100vh;
	background: #ffffff;
}

label {
	color: #8db600;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 20px;
	margin-bottom: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input {
	background: #f3f1f1;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.input-container {
	position: relative;
	width: 100%;
	max-width: 300px;
	margin: 20px auto;
}
.input-container input {
	width: 60%;
	background: #f3f1f1;
	padding: 10px 40px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.input-container .login__icon,
.input-container .signup__icon
{
    position: absolute;
    left: 30px; 
    top: 50%;
    transform: translateY(-50%);
	color: #8db600;
}
.password-toggle {
    position: absolute;
    right: 30px;
    top: 30%;
    cursor: pointer;
	color: #8db600;
}

button {
	width: 100%;
	height: 40px;
	margin: 10px auto;
	max-width: 250px;
	justify-content: center;
	display: block;
	color: white;
	background: #6c6c6c;
	font-size: 1em;
	font-weight: bold;
	margin-top: 25px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover {
	background: #8db600;
	color: white;
}

img {
	height: auto;
	max-width: 200px;
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*-----*/

/*Login*/
.login {
	position: relative;
	width: 100%;
	height: 100%;
}
.login__icon {
	color: #8db600;
}

.social-login {
	position: relative;
	height: 140px;
	width: 100%;
	text-align: center;
	margin-top: 80px;
	color: #8db600;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #8db600;
	text-decoration: none;
	transition: 0.3s ease-out;
}

.social-login__icon:hover {
	transform: scale(1.5);
}
/*-----*/

/*Sign Up*/
.signup {
	height: 800px;
    min-height: 500px;
	background: #8db600;
	border-radius: 60% / 10%;
	transform: translateY(-160px);
	transition: .8s ease-in-out;
}

.signup label {
	color: white;
	transform: scale(.6);
	margin: 50px;
	padding-top: 15px;
}

.signup button {
	background-color: #6c6c6c;
	color: white;
}

.signup button:hover {
	background-color: white;
	color: #8db600;
}

#AdatKezelesSpan a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: inline; 
    white-space: nowrap;
}
#AdatKezelesSpan {
	color: white;
	font-size: 11px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap; 
}

#AdatKezelesCheck {
	appearance: none;
	width: 16px;
	height: 16px;
	border: 2px solid #ffffff;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 3px;	
}

#AdatKezelesCheck:checked::before {
	content: '\2714';
	color: #8db600;
	font-size: 14px;
	font-weight: bold;
}
/*-----*/

/* PopUp Window */
.popup {
	display: none;
	position: fixed;
	top: -20%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: flex-start;
	padding-top: 20px;
	z-index: 999;
}
.popup-content {
	background: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	color: #8db600;
}
.close-btn {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
	font-size: 20px;
	color: red;
}
/*------*/

/*CheckBox*/
#signupTab, #loginTab
{
	display: none;
}

#signupTab:checked ~ .signup {
	transform: translateY(-88vh);
}
#signupTab:checked~.signup label {
	transform: scale(1);
}
#signupTab:checked~.login label {
	transform: scale(.6);
}

#loginTab:checked~.signup{
	transform: translateY(-140px);
}
#loginTab:checked~.login label {
	transform: scale(1);
}
#loginTab:checked~.signup label {
	transform: scale(.6);
}
/*-----*/
